.person {
  width: 110px;
  border-radius: 50%;
  margin: 10px auto;
  border: 3px solid #FFFFFF;
}

.description {
	text-align: justify;
}

.social-link {
	color: #FFFFFF;
	margin: 5px;
}

.social-link:hover {
	color: #000000;
}