<section class="mdl-layout__tab-panel mdl-grid portfolio-max-width" id="about">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">About</h2>
        </div>
        <div class="mdl-card__media">
            <img class="article-image" src="images/ilove-header.png" border="0" alt="">
        </div>

        <div class="mdl-grid portfolio-copy">
            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">I Love Hearts</h3>
            <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                <p>
                    All begin with <i class="icon material-icons">favorite</i>
                </p>
            </div>

            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">I Love Application</h3>

            <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                <p>
                     <b>I Love</b> is a game application natively coded in Kotlin.
                     At the beginning, the goal was to draw a beautiful heart.<br>
                     Then, the idea to create a simple game with little hearts came.
                </p>
            </div>

            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">I Love</h3>

            <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                <p>Finally, this mobile game application is all about Love.</p>
            </div>
        </div>
    </div>
</section>
