<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Who We Are</h2>
              <hr class="light">

              <p class="text-faded">We are two expert developers. We design, build, and grow products for Android and the Web.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h3 class="section-heading">Meet the team</h3>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
              <a href="http://www.machada.io" class="social-link">
                <img src="/img/macha.jpg" alt="Macha Da Costa" class="person wow bounceIn">
                <p>{{ site.usernames.macha }}</p>
              </a>
              <p class="description">Macha loves the Mobile, in particular Android, and <abbr title="App Store Optimization">ASO</abbr>. She's very passionate and enjoys working on complete application from conception to publication. When not thinking about mobile, Macha likes to run, to play beach volleyball and, to freedive.</p>
              <p>
                <a href="https://twitter.com/{{ site.twitter_usernames.macha }}" class="social-link" title="@{{ site.twitter_usernames.macha }}">
                  <i class="fa fa-twitter fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
                <a href="mailto:{{ site.emails.macha }}" class="social-link" title="{{ site.emails.macha }}">
                  <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".2s"></i>
                </a>
                <a href="https://github.com/{{ site.github_usernames.macha }}" class="social-link" title="{{ site.github_usernames.macha }}">
                  <i class="fa fa-github fa-2x wow bounceIn" data-wow-delay=".3s"></i>
                </a>
                <a href="https://gitlab.com/{{ site.gitlab_usernames.macha }}" class="social-link" title="{{ site.gitlab_usernames.macha }}">
                  <i class="fa fa-gitlab fa-2x wow bounceIn" data-wow-delay=".4s"></i>
                </a>
              </p>
            </div>
            <div class="col-lg-4 col-lg-offset-0 text-center">
              <a href="https://www.rymai.me" class="social-link">
                <img src="/img/remy.jpg" alt="Rémy Coutable Photo" class="person wow bounceIn">
                <p>{{ site.usernames.remy }}</p>
              </a>
              <p class="description">Rémy loves the Web, the open-source, Git and Ruby. He's very versatile and enjoys working on complete features from back to front. When not thinking about code, Rémy likes to read about philosophy, politics or ecology, to play volley-ball and, to freedive.</p>
              <p>
                <a href="https://twitter.com/{{ site.twitter_usernames.remy }}" class="social-link" title="@{{ site.twitter_usernames.remy }}">
                  <i class="fa fa-twitter fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
                <a href="mailto:{{ site.emails.remy }}" class="social-link" title="{{ site.emails.remy }}">
                  <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".2s"></i>
                </a>
                <a href="https://github.com/{{ site.github_usernames.remy }}" class="social-link" title="{{ site.github_usernames.remy }}">
                  <i class="fa fa-github fa-2x wow bounceIn" data-wow-delay=".3s"></i>
                </a>
                <a href="https://gitlab.com/{{ site.gitlab_usernames.remy }}" class="social-link" title="{{ site.gitlab_usernames.remy }}">
                  <i class="fa fa-gitlab fa-2x wow bounceIn" data-wow-delay=".4s"></i>
                </a>
              </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="#contact" class="btn btn-default btn-xl">Contact Us!</a>
            </div>
        </div>
    </div>
</section>
