<section class="mdl-layout__tab-panel mdl-grid portfolio-max-width portfolio-contact" id="contact">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Contact</h2>
        </div>
        <div class="mdl-card__media">
            <img class="article-image" src=" images/chillcoding-header-contact.png" border="0" alt="">
        </div>
        <div class="mdl-card__supporting-text">
            <p>
                Made by {{ site.data.members.macha.name }} from <a href="/">ChillCoding</a>.
            </p>
            <p>
                You can contact her through these social media:
            </p>
            <p>
              <a href="https://www.facebook.com/Jaime.EuAmo/" title="I Love on Facebook"><i class="fa fa-facebook fa-2x"></i></a>

              <a href="https://twitter.com/{{ site.data.members.macha.twitter }}" class="social-link" title="@{{ site.data.members.macha.twitter }}"><i class="fa fa-twitter fa-2x"></i></a>

              <a href="https://github.com/{{ site.data.members.macha.github }}" class="social-link" title="{{ site.data.members.macha.github }}"><i class="fa fa-github fa-2x"></i></a>

              <a href="https://gitlab.com/{{ site.data.members.macha.gitlab }}" class="social-link" title="{{ site.data.members.macha.gitlab }}"><i class="fa fa-gitlab fa-2x"></i></a>

              <a href="https://www.youtube.com/channel/{{ site.data.members.company.youtube }}" title="ChillCoding on YouTube"><i class="fa fa-youtube fa-2x"></i></a>
            </p>
            <p>
                or by mail <a href="mailto:{{ site.data.members.macha.email }}" class="social-link" title="{{ site.data.members.macha.email }}"><i class="fa fa-envelope-o fa-2x"></i></a>
            </p>
        </div>
    </div>
</section>
