<article class="{{ include.context }}">
  <h2>
    <a href="{{ page.url }}" class="permalink" title="Permalink">
      {{ page.title }}
    </a>
  </h2>
  <div class="post-meta">
    <span class="post-date"><em>{{ page.date | date_to_long_string }}</em></span>
    <span class="post-category">
      {% for category in page.categories %}
        <a href="/{{ category }}"><em>#{{ category }}</em></a>
      {% endfor %}
    </span>
  </div>
  <div class="post-content">
    {% if include.context == 'home' %}
      <div class="excerpt lead"> <a href="{{ page.url }}" class="permalink" title="Permalink">{{ page.excerpt | markdownify }}</a></div>
    {% else %}
      {{ page.content | markdownify }}
    {% endif %}
    <p>
      <a href='https://twitter.com/intent/tweet?text="{{ page.title }}"&via={{ page.author }}&url={{ site.root_url }}{{ page.url }}' target="_blank">Share</a> or <a href="https://twitter.com/intent/tweet?text=@{{ page.author }} &url={{ site.root_url }}{{ page.url }}" target="_blank">React</a> on Twitter.
    </p>
    <p>
      <em>Have a comment? Open a <a href="{{ site.repository_url }}/edit/master/{{ page.path }}" target="_blank">merge request</a>!</em>
    </p>
  </div>
</article>
