<article class="{{ include.context }}">
  <h2>
    <a href="{{ page.url }}" class="permalink" title="Permalink">
      {{ page.title }}
    </a>
  </h2>
  <div class="post-meta">
    <span class="post-date"><em>{{ page.date | date_to_long_string }}</em></span>
    <span class="post-category">
      {% for category in page.categories %}
        <a href="/{{ category }}"><em>#{{ category }}</em></a>
      {% endfor %}
    </span>
  </div>
  <div class="post-content">
    {% if include.context == 'home' %}
      <div class="excerpt lead">{{ page.excerpt | markdownify }}</div>
    {% else %}
      {{ page.content | markdownify }}
    {% endif %}
  </div>
</article>
