{% assign author = site.data.members[page.author] %}
{% capture twitter_link %}{{ author.twitter | prepend: "https://twitter.com/" }}{% endcapture %}

<article class="{{ include.context }}">
  {% if include.context == 'home' %}
    <h2 class="text-center">
      <a href="{{ page.url }}" class="permalink" title="Permalink">
        {{ page.title }}
      </a>
    </h2>
  {% else %}
    <h1 class="text-center">
      {{ page.title }}
    </h1>
  {% endif %}

  <div class="post-meta">
    {% if include.context == 'home' %}
      <div class="post-meta-content">
        {% for category in page.categories %}
          <a href="/blog/{{ category }}" class="badge text-uppercase">{{ category }}</a>
        {% endfor %}

        <time class="text-uppercase" itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date: "%A, %B %-d, %Y" }}</time>

        <span class="author text-uppercase">
          <a href="{{ twitter_link }}" target="_blank">{{ site.data.members[page.author].name }}</a>
        </span>
      </div>
    {% else %}
      <div class="post-meta-content">
        <time class="text-uppercase" itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date: "%A, %B %-d, %Y" }}</time>

        <a href="{{ twitter_link }}">
          <img width="100" height="100" alt="{{ author.name }}" class="avatar" src="{{ author.image }}">
        </a>

        <span class="author text-uppercase">
          Posted by <a href="{{ twitter_link }}" target="_blank">{{ site.data.members[page.author].name }}</a>
        </span>

        <div class="categories">
          {% for category in page.categories %}
            <a href="/blog/{{ category }}" class="badge text-uppercase">{{ category }}</a>
          {% endfor %}
        </div>
      </div>
      <hr />
    {% endif %}
  </div>
  <div class="post-content">
    {% if include.context == 'home' %}
      <div class="excerpt lead"> <a href="{{ page.url }}" class="permalink" title="Permalink">{{ page.excerpt | markdownify }}</a></div>
    {% else %}
      {{ page.content | markdownify }}
    {% endif %}
    <p>
      <a href='https://twitter.com/intent/tweet?text="{{ page.title }}"&via={{ page.author }}&url={{ site.root_url }}{{ page.url }}' target="_blank">Share</a> or <a href="https://twitter.com/intent/tweet?text=@{{ page.author }} &url={{ site.root_url }}{{ page.url }}" target="_blank">React</a> on Twitter.
    </p>
    <p>
      <em>Have a comment? Open a <a href="{{ site.repository_url }}/edit/master/{{ page.path }}" target="_blank">merge request</a>!</em>
    </p>
  </div>
</article>
